.users {
  max-width: 85%;
  width: 100%;
  padding: 100px 150px;
  min-height: 100vh;
  height: 100%;
  margin-left: auto;
}
.users h2 {
  font-size: 50px;
  line-height: 56px;
  margin-bottom: 50px;
}
.users table {
  background-color: #fff;
  padding: 20px;
}
.users table > thead > tr > th {
  width: 120px;
  text-align: center;
}
.users table > tbody > tr > td {
  text-align: center;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent !important;
}
.users button {
  background-color: transparent !important;
  border: none;
}
.users button.edit {
  margin-right: 15px;
}
.users button.edit i {
  color: green;
}
.users button.delete i {
  color: red;
}
.users .users-top {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 40px;
  align-items: flex-end;
}
.users .users-top .filter {
  display: flex;
  align-items: flex-end;
}
.users h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000;
}
.users .users-top .filter input {
  width: 300px;
}
.users .users-top .filter button {
  background-color: #add8e6 !important;
  padding: 10px 20px;
  font-size: 14px;
  margin-left: 15px;
  border-radius: 6px;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}
.users .users-top .filter button:hover {
  color: #000;
  background-color: #fff !important;
  border: 1px solid #add8e6;
}
.users .form-group {
  margin-bottom: 0px !important;
  position: relative;
}
.users .form-group i {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #333;
}
.users .users-top .add button {
  margin-right: 10px;
}
.users .users-top .add button i {
  font-size: 35px;
  color: green;
}
.ReactModalPortal .close-btn {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 19px;
  font-size: 21px;
}
h3.pop-head {
  font-size: 25px;
  line-height: 31px;
  margin-bottom: 30px;
}
.pop-content label {
  color: #a6a4a4;
}
.form-footer {
  margin-top: 10px;
}
.form-footer button.save {
  border: none;
  background-color: rgb(27, 204, 27);
  padding: 6px 15px;
  margin-right: 15px;
  border-radius: 6px;
  color: #fff;
  text-transform: capitalize;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
}
.form-footer button.cancel-edit {
  border: none;
  background-color: red;
  padding: 6px 15px;
  margin-right: 15px;
  border-radius: 6px;
  color: #fff;
  text-transform: capitalize;
  transition: 0.3s all ease-in-out;
  border: 1px solid transparent;
}
.form-footer button.cancel-edit:hover {
  background-color: transparent;
  color: red;
  border: 1px solid red;
}
.form-footer button.save:hover {
  background-color: transparent;
  color: rgb(27, 204, 27);
  border: 1px solid rgb(27, 204, 27);
}
.pagination {
  justify-content: flex-end;
}
