.panel-head {
  max-width: 15%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  padding: 30px;
  position: fixed;
}
.panel-head a.logo {
  color: #f95959;
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1em;
}
.panel-head a.logo span {
  font-size: 30px;
  color: #fff;
  transform: translateX(-5px);
  display: inline-block;
}
.panel-head .panel-link {
  margin-top: 40px;
}
.panel-head .panel-link li {
  padding: 18px 0px;
}
.panel-head .panel-link li a {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
}
.panel-top {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 180px);
}
.panel-top .logout button {
  background-color: transparent !important;
  border: none;
  color: #fff;
}
