.work-log {
  max-width: 85%;
  width: 100%;
  padding: 100px 150px;
  margin-left: auto;
  min-height: 100vh;
  height: 100%;
}
.work-log h2 {
  font-size: 50px;
  line-height: 56px;
  margin-bottom: 50px;
}
.work-log .work-top {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 0px;
  align-items: flex-end;
}
.work-log .work-top .filter button {
  background-color: #add8e6 !important;
  padding: 10px 20px;
  font-size: 14px;
  margin-left: 15px;
  border-radius: 6px;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}
.work-log .work-top .filter button:hover {
  color: #000;
  background-color: #fff !important;
  border: 1px solid #add8e6;
}
.work-log .work-top .filter {
  display: flex;
  align-items: flex-end;
}
.work-log .work-top .add button {
  margin-right: 10px;
  background-color: transparent !important;
  border: none;
}
.work-log .work-top .add button i {
  font-size: 35px;
  color: green;
}
.work-log .work-top .filter input {
  width: 200px;
}
.work-log .work-bottom {
  display: flex;
  flex-wrap: wrap;
}
.work-log .work-bottom .box {
  background-color: #fff;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 16%);
  border-radius: 8px;
  padding: 20px 0px 0px;
  max-width: 22%;
  width: 100%;
  margin-right: 52px;
  position: relative;
  margin-top: 35px;
}
.work-log .work-bottom .box .box-delete {
  position: absolute;
  top: 0;
  right: -36px;
  background-color: red;
  color: #fff;
  padding: 7px 12px;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}
.work-log .work-bottom .box:nth-child(4n) {
  margin-right: 0px;
}
.work-log .work-bottom .box .box-row {
  display: flex;
  justify-content: space-between;
}
.work-log .work-bottom .box h3 {
  font-size: 20px;
  line-height: 26px;
  color: #333;
}
.work-log .work-bottom .box p {
  font-size: 16px;
  line-height: 22px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
}
.work-log .work-bottom .box-top {
  padding: 0px 20px;
}
.work-log .work-bottom .box-bottom {
  background-color: rgb(71, 230, 71);
  border-radius: 0px 0px 8px 8px;
}
.work-log .work-bottom .box-bottom.red {
  background-color: red;
}
.work-log .work-bottom .box-bottom .box-text {
  align-items: center;
  padding-left: 20px;
  width: 100%;
}
.work-log .work-bottom .box-bottom h3 {
  font-size: 14px;
  margin-bottom: 0;
  color: #fff;
}
.work-log .work-bottom .box-bottom p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 10px;
  color: #fff;
}
.work-log .work-bottom .box-bottom button {
  background-color: transparent !important;
  border-left: 1px solid #fff !important;
  border: none;
  padding: 8px 15px;
}
.work-log .work-bottom .box-bottom button i {
  color: #fff;
}
