.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style-type: none;
}
a,
a:hover {
  display: inline-block;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.dashboard {
  background-color: #f7edd5;
  display: flex;
}
.loader {
  min-height: 555px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  position: relative;
}
.loading:before,
.loading:after {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: 50%;
  width: 80px;
  margin: 0 auto;
  background-color: currentcolor;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader-08 2s infinite ease-in-out;
  z-index: 9;
  height: 80px;
}
.loading:after {
  animation-delay: -1s;
}
@keyframes loader-08 {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
